<html ng-app="watcher">
    <head>
        <title>main</title>
        <script type="text/javascript" src="/js/angular.js"></script>
        <script type="text/javascript" src="/js/angular-route.js"></script>
        <!-- angular app files -->
        <script type="text/javascript" src="/app/app.module.js"></script>
        <script type="text/javascript" src="/app/app.config.js"></script>
        <!-- Services -->
        <script type="text/javascript" src="/app/services/auth.service.js"></script>
        <!-- Controllers -->
        <script type="text/javascript" src="/app/layout/main.controller.js"></script>
    </head>
    <body ng-controller="mainController">
        <h1>Test</h1>
    </body>
</html>